@model PagedList.PagedList<ChooseMe.Web.Models.Forms.VolunteerFormsAdopterListViewModel>
<table class="table table-striped text-center">
    <tr>
        <th class="text-center">
            From
        </th>
        <th class="text-center">
            Organization Name
        </th>
        <th class="text-center">
            More
        </th>
        <th class="text-center">
            Delete
        </th>
    </tr>
    @if (Model.Count() == 0)
    {
        <h1>You don't have adoption forms</h1>
    }
    else
    {
        foreach (var vf in Model)
        {
            <tr>
                <td>
                    @vf.CreatedOn
                </td>
                <td>
                    <a href="~/Organizations/Details/@vf.OrganizationId">@vf.OrganizationName</a>
                </td>
                <td>
                    <a href="~/VolunteersForm/Details/@vf.Id">Full form</a>
                </td>
                <td>
                    @Html.ActionLink("X", "Delete", "VolunteerForm", new { area = "", id = @vf.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
</table>
<div id="ajax-search-results"></div>
@Html.Partial("_Paging")
