@model ChooseMe.Web.Models.Animal.AnimalDetailView
@using ChooseMe.Web.Models.Comment
@using ChooseMe.Common.Constants
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details</h2>

<div class="container details-container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            @Html.DisplayFor(m => m.Photos.FirstOrDefault().Address, "PetPicture")
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <em><a href="~/Organizations/Details/@Model.OrganizationId">@Model.Organization.Name</a></em>
                            <h2>@Html.Raw(Model.Name)</h2>
                            <h5><em>@Model.Type</em>@Html.DisplayFor(m => m.Gender, "Gender")</h5>
                            <p>@Html.Raw(Model.Story)</p>
                            <p>@Html.DisplayFor(m => m.Disease, "Disease")</p>
                            <p><em>@Html.DisplayFor(m => m.Age, "Age")</em></p>
                            <p>Fur: @Model.FurColor <em>@Html.DisplayFor(m => m.IsLonghaired, "IsLonghaired")</em></p>
                            <p>
                                @Html.DisplayFor(m => m, "AnimalLabels")
                            </p>
                        </div>
                    </div>
                </div>
                <!--/col-->
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <h2><strong>@Model.AdoptionForms.Count()</strong></h2>
                    <p><small>Adoption Forms</small></p>
                    @if (User.IsInRole(ControllersConst.AdopterRole))
                    {
                        if (Model.AdoptionForms.Any(af => af.UserId == User.Identity.GetUserId()))
                        {
                            <h3><strong> Your form will be reviewed soon <span class="glyphicon-heart"></span></strong></h3>
                        }
                        else
                        {
                            @Html.ActionLink("Adoption form", "Create", "AdoptionForm", new { area = "Adopter", id = Model.Id }, new { @class = "btn btn-success btn-block" })
                        }
                    }
                    else if (User.IsInRole(ControllersConst.OrganizationRole))
                    {
                        if (Model.OrganizationId == User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Adoption forms", "ListViewAdoptionForms", "AdoptionForms", new { area = "", id = Model.Id }, new { @class = "btn btn-success btn-block" })
                        }
                        else
                        {
                            <h3><strong>More about me: </strong></h3>
                        }
                    }
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <h2><strong>@Model.Comments.Count()</strong></h2>
                    <p><small>Comments</small></p>
                    <a id="comment" class="btn btn-info btn-block">Comments</a>
                </div>
                <!--/col-->
                <div class="col-sm-4 text-center">
                    <h2><strong>@Model.Photos.Count()</strong></h2>
                    <p><small>Photos</small></p>
                    @if (Model.OrganizationId == User.Identity.GetUserId())
                    {
                        if (Model.Photos.Count() > 10)
                        {
                            <h3><strong>Sorry, you can upload only up to 10 photos or this furry friend</strong></h3>
                        }
                        else
                        {
                            @Html.ActionLink("Upload photo", "Upload", "Photo", new { area = "Organization", id = Model.Id }, new { @class = "btn btn-danger btn-block" })
                        }
                    }
                    <div class="clearfix"></div>
                    <div id="hidden-comments">
                        <h4>Comments</h4>
                        @Html.Partial("_AddComment", new CreateCommentViewModel() { AnimalId = int.Parse(@Model.Id)})
                        @Html.Partial("_Comments", Model.Comments)
                        <hr>
                    </div>
                </div>
                <br />
                <br />
                <div class="container">
                    @if (Model.Photos.Count() != 0)
                    {
                        <h3>More photos</h3>
                    }
                    <br />
                    <div class="row">
                        @foreach (var photo in Model.Photos)
                        {
                            <div class="col-md-2 thumb">
                                <a class="thumbnail" href="#modal" data-image-id="" data-toggle="modal" data-image=@photo.Address data-target="#image-gallery">
                                    <img class="img-responsive" src=@photo.Address width="100px" />
                                </a>
                            </div>
                        }
                    </div>
                    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="image-gallery-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <img id="image-gallery-image" class="img-responsive" src="">
                                </div>
                                <div class="modal-footer">

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/helpers")
}
