@model ChooseMe.Web.Models.Animal.AnimalDetailView
@using ChooseMe.Web.Areas.Organization.Models.Animal
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details</h2>

<div class="container details-container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            @Html.DisplayFor(m => m.Photos.FirstOrDefault().Address, "PetPicture")
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <em>@Model.Organization.Name</em>
                            <h2>@Model.Name</h2>
                            <h5><em>@Model.Type</em>@Html.DisplayFor(m => m.Gender, "Gender")</h5>
                            <p>@Model.Story</p>
                            <p>@Html.DisplayFor(m => m.Disease, "Disease")</p>
                            <p><em>@Html.DisplayFor(m => m.Age, "Age")</em></p>
                            <p>Fur: @Model.FurColor <em>@Html.DisplayFor(m => m.IsLonghaired, "IsLonghaired")</em></p>
                            <p>
                                @Html.DisplayFor(m => m, "AnimalLabels")
                            </p>
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2><strong>@Model.AdoptionForms.Count()</strong></h2>
                            <p><small>Adoption Forms</small></p>
                            <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-heart"></span> Adoption Forms</button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <h2><strong>@Model.Comments.Count()</strong></h2>
                            <p><small>Comments</small></p>
                            <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-pencil"></span> Comments</button>
                        </div>
                        <!--/col-->
                        <div class="col-sm-4 text-center">
                            <h2><strong>@Model.Photos.Count()</strong></h2>
                            <p><small>Photos</small></p>
                            @Html.ActionLink("Upload photo", "Upload", "Photo", new { area = "Organization", id = Model.Id }, new { @class = "btn btn-danger btn-block" })
                        </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="container">
                            <h3>More photos</h3>
                            <br/>
                            <div class="row">
                                @foreach (var photo in Model.Photos)
                                {
                                    <div class="col-md-2 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image=@photo.Address data-target="#image-gallery">
                                            <img class="img-responsive" src=@photo.Address width="100px"/>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="image-gallery-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <img id="image-gallery-image" class="img-responsive" src="">
                                        </div>
                                        <div class="modal-footer">

                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                                            </div>

                                            <div class="col-md-2">
                                                <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!--/col-->
                        </div>
                <!--/row-->
            </div>
            <!--/panel-body-->
        </div>
        <!--/panel-->
    </div>
    <!--/col-->
</div>
<!--/row-->
</div>
<!--/container-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function(){

            loadGallery(true, 'a.thumbnail');

            //This function disables buttons when needed
            function disableButtons(counter_max, counter_current){
                $('#show-previous-image, #show-next-image').show();
                if(counter_max == counter_current){
                    $('#show-next-image').hide();
                } else if (counter_current == 1){
                    $('#show-previous-image').hide();
                }
            }

            function loadGallery(setIDs, setClickAttr){
                var current_image,
                    selector,
                    counter = 0;

                $('#show-next-image, #show-previous-image').click(function(){
                    if($(this).attr('id') == 'show-previous-image'){
                        current_image--;
                    } else {
                        current_image++;
                    }

                    selector = $('[data-image-id="' + current_image + '"]');
                    updateGallery(selector);
                });

                function updateGallery(selector) {
                    var $sel = selector;
                    current_image = $sel.data('image-id');
                    $('#image-gallery-caption').text($sel.data('caption'));
                    $('#image-gallery-title').text($sel.data('title'));
                    $('#image-gallery-image').attr('src', $sel.data('image'));
                    disableButtons(counter, $sel.data('image-id'));
                }

                if(setIDs == true){
                    $('[data-image-id]').each(function(){
                        counter++;
                        $(this).attr('data-image-id',counter);
                    });
                }
                $(setClickAttr).on('click',function(){
                    updateGallery($(this));
                });
            }
        })
    </script>
}